run = "npm run setup && npm start"
entrypoint = "server/index.js"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[env]
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80
